*{
    margin: 0 1px 0 1px;
    padding: 0;
    font-weight: 800;
}

header {
    background-image: url(img/pattern.png);
    background-size: 35%;
    background-color: #4ea0ff;
    height: 121px;
    margin: 0;
}

ul{
    margin-left: 20px;
}

table {
    margin: 0 5px 0 5px;
    border-collapse: collapse;
}

th{
    text-align: left;
}

.withHead{
    width: 300px;
}

.logo {
    width: 200px;
    margin-top: 65px;
}

.greyText{
    color: grey;
}

.blueText {
    color: #4ea0ff;
}

.distBlock{
    margin-top: 20px;
}

.headTable{
    background-color: #4ea0ff;
    color: white;
}

.headTable th {
    border-right: none;
    margin-right: 0;
    padding-right: 0;
}

.colorBody{
    background-color: #a9cffa;
}

.footerDiv{
    width: 345px;
    height: 192px;
    color: white;
    background-size: 78%;
    background-repeat: no-repeat;
}